/* Body styles */

body {
  background-color: rgb(65, 65, 65);
}

h1 {
  font-family: Helvetica;
  font-size: 3rem;
  margin-left: auto;
  text-align: center;
  color: white;
  opacity: 0%;
}

/* Game board styles */

#board {
  margin-left: auto;
  margin-right: auto;
  opacity: 0%;
}

#board td {
  width: 75px;
  height: 75px;
  border: solid 1px #666;
}

/*  Game piece styles */
.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 0 0 3px;
}

.p1 {
  /* background-color: yellow; */
  background-color: white;
}

.p2 {
  /* background-color: limegreen; */
  background-color: black;
  
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
  background-color: rgb(127, 149, 221);
}

#column-top td:hover {
  /* background-color: gold; */
  opacity: 75%;
  transition: all 0.2s;
}

.tbody td {
  background-color: rgb(89, 89, 152);
}